<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body bgcolor="blue">
    <center>
    <div style="background-color:aqua;width:300px;margin-top:200px;padding-top:40px;padding-bottom:50px">
    <form action="logincheck/">
        <h2>login</h2>
        <input name="uname" type="text" placeholder="username" style="width:200px;height:25px;margin:5px;"required><br>
        <input name="pname" type="password" placeholder="password" style="width:200px;height:25px;margin:5px;"required><br><br>
        <button type="submit" style="width:200px;height:20px;color:white;background-color:green"> submit</button>
        </form>
    </div>
    </center>

        
</body>
</html>


